.IdeaIC2016.2/config/scratches/scratch_4.xml

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://1cws.taskdata.com/UnidataIntegration" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://1cws.taskdata.com/UnidataIntegration" name="UnidataIntegration" targetNamespace="http://1cws.taskdata.com/UnidataIntegration">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="http://1cws.taskdata.com/UnidataIntegration" targetNamespace="http://1cws.taskdata.com/UnidataIntegration" attributeFormDefault="unqualified" elementFormDefault="qualified">
            <xs:element name="stage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="data" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="stageRequestMessage">
        <part name="parameters" element="tns:stage"/>
    </message>
    <message name="stageResponseMessage">
        <part name="parameters" element="tns:stageResponse"/>
    </message>
    <portType name="UnidataIntegrationPortType">
        <operation name="stage">
            <input message="tns:stageRequestMessage"/>
            <output message="tns:stageResponseMessage"/>
        </operation>
    </portType>
    <binding name="UnidataIntegrationSoapBinding" type="tns:UnidataIntegrationPortType">
        <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="stage">
            <soapbind:operation style="document" soapAction="http://1cws.taskdata.com/UnidataIntegration#UnidataIntegration:stage"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="UnidataIntegrationSoap12Binding" type="tns:UnidataIntegrationPortType">
        <soap12bind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="stage">
            <soap12bind:operation style="document" soapAction="http://1cws.taskdata.com/UnidataIntegration#UnidataIntegration:stage"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="UnidataIntegration">
        <port name="UnidataIntegrationSoap" binding="tns:UnidataIntegrationSoapBinding">
            <documentation>
                <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1"/>
            </documentation>
            <soapbind:address location="http://1c.taskdata.work/ws/UnidataIntegration.1cws"/>
        </port>
        <port name="UnidataIntegrationSoap12" binding="tns:UnidataIntegrationSoap12Binding">
            <soap12bind:address location="http://1c.taskdata.work/ws/UnidataIntegration.1cws"/>
        </port>
    </service>
</definitions>